  /* Common_Style */
  .Latest-Courses-Area{
    /* background: url(./Images/LatestCourses_bg_img.jpg); */
    background-position: 0px -60px;
    background-attachment: fixed;
    padding: 10px 0px;
  }

  .LatestCourseContainer{
    max-width: 1500px;
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
    user-select: none;
  }

  .LatestCourseTitleBox{
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
  }

  .SliderContainer{
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
  }
  
  .LatestCourseTitleBox h1{
    text-align: center;
    font-size: 2.625em;
    padding: 0px;
    margin: 0px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #333333;
  }
  .LatestCourseTitleBox p {
    text-align: center;
    font-size: 1.3125rem;
    margin: 0px 0px 10px;
    color: #c0b48b;
    font-family: 'LatoMedium', sans-serif;
  }
  
  
  /* .LatestCourseSliderBox {
    max-width: 1280px;
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
    user-select: none;
    cursor: grab;
  } */

  .LatestCourseSliderBox{
    cursor: grab;
  }

  #LatestCourseDragging{
    cursor: grabbing;
  }
  /* Common_Style */

  /* ------------------------------------- */

  /* Course_Style */
  .LatestCourseCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    max-width: 500px;
    margin: auto 1rem;
    text-align: left;
    font-family: 'LatoMedium', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #cccccc;
    position: relative;
    /* transition: transform 300ms ease-in-out; */
  }

  
  .LatestCourse-image{
    height: 250px;
    overflow: hidden;
    text-align: center;
  }
  
  .LatestCourse-image img {
    width: 100%;
    height: 250px;
    /* height: 15em; */
    object-fit: cover;
    pointer-events: none;
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  .LatestCourseCard:hover img{
    transform: scale(1.1);
  }
    
  .LatestCourseCard h3 {
    color: #333333;
    /* text-transform: uppercase; */
    font-weight: 500;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px 10px 5px;
  }

  .LatestCourseCard:hover span{
      color: #ff3d00;
    
  }

  .LatestCourseName {
    color: #777777;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px 10px 5px;
    /* line-height: 26px; */
  }

  /* .LatestCourseDuration{
    color: #333333;
    font-weight: 700;
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px;
  } */

  .LastestCourseDig{
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px 10px 10px;
  }


  .LastestCourseDig a{
    font-family: 'LatoHeavy', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    /* padding: 10px; */
    text-decoration: none;
    color: #ff3d00;
    /* transition: color 0.3s ease; */
  }

  .LatestCourseCard i{
    color: #ff3d00;
  }

  /* .LatestCourseCard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #ffffff;
    background-color: #ff3d00;;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'LatoHeavy', sans-serif;
  }
  
  .LatestCourseCard button:hover {
    opacity: 0.7;
  } */

.LatestCourseCard {
    height: 425px;
}

/* .LatestCourseBottomDiv{
  position: absolute;
  bottom: 5px;
} */

.LastestCourseDig{
  position: absolute;
  bottom: 5px;
}
/* Course_Style */

/* ------------------------------------- */

/* Mou_Style */
.MuoContainer{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto 1rem;
  overflow: hidden;
  border: 1px solid #cccccc;
  user-select: none;
}

.MuoContainer img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.MuoContainer:hover img{
  transform: scale(1.1);
}
/* Mou_Style */

/* ------------------------------------- */



